{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
    <div class="row content content-wrapper">
        {% include "partials/left_menu.html" %}

        <div class="col-sm-9 body-wrapper text-center">
            <h4><bold>HOMEPAGE</bold></h4>

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Example panel</div>
                            <div class="panel-body"><img src="{{urls['flask_logo']}}" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Example footer</div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Example panel</div>
                            <div class="panel-body"><img src="{{urls['flask_logo']}}" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Example footer</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Example panel</div>
                            <div class="panel-body"><img src="{{urls['flask_logo']}}" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Example footer</div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Example panel</div>
                            <div class="panel-body"><img src="{{urls['flask_logo']}}" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Example footer</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Example panel</div>
                            <div class="panel-body"><img src="{{urls['flask_logo']}}" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Example footer</div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Example panel</div>
                            <div class="panel-body"><img src="{{urls['flask_logo']}}" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Example footer</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}
